body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  text-align: center;
}
.newsAuthor {
  font-size: 14px;
  color: dimgray;
  text-decoration: underline;
  text-decoration-color: dimgray;
  margin-bottom: 1%;
}
.result {
  margin: 1%;
}
.videoContainer {
  padding: 1% 1% 1% 1%;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  border-radius: 5px;
  margin-bottom: 1%;
  display: flex;
}
.inputField {
  margin: 1%;
}
.thumbContainer {
  display: inline;
}
.infoContainer {
  display: inline;
}
.title {
  margin: 2%;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}
.videoDescription {
  margin-left: 2%;
  text-align: left;
}